<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topbar-container">
        <div class="topbar__item">
            <button class="topbar__button" id="topbar__spenseButton">Spense.</button>
        </div>
        <div class="topbar__item">
            <button class="topbar__button">Bussines</button>
            <button class="topbar__button">Pricing</button>
            <button class="topbar__button">Features</button>
        </div>
        <div class="topbar__item">
            <button class="topbar__button">Login</button>
            <button class="topbar__button" id="topbar__startedButton">Get Started</button>
        </div>
    </div>
</body>
</html>